.on-the-cart {
    border: 1px;
    border-color: red;
}

.removed {
    display: none;
}

.card-body {
    height: 200px;
    position: relative ;
  }



#card-buttons {
    position: absolute ;
    bottom: 0px;
}








